<div class="row">
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        Confirmed
      </div>
      <div class="value" style="color:deepskyblue">
        {{totalConfirmed}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        Recovered
      </div>
      <div class="value" style="color:deepskyblue">
        {{totalRecovered}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        Deaths
      </div>
      <div class="value" style="color: red">
        {{totalDeaths}}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        Active
      </div>
      <div class="value" style="color:green">
        {{totalActive}}
      </div>
    </div>
  </div>
</div>
